    <!-- Experience Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>EXPERIENCE</h2>
                    <p>You can view my resume/CV here </p>
                    <a href="https://docs.google.com/document/d/1LupWidYXp5jIqJxdArwBa7kyBEmEc3Wu__M2A10tTAM/edit?usp=sharing" class="btn btn-default btn-lg">VIEW RESUME</a>
                </div>
            </div>
        </div>
    </section>
